<div class="card">
  <div class="card-header">
    <a href="https://www.stimulus-components.com/docs/stimulus-animated-number">stimulus-animated-number</a>
  </div>
  <div class="card-body">
  
  </div>
</div>

