<div class="card">
  <div class="card-header">
    <a href="https://www.stimulus-components.com/docs/stimulus-clipboard">stimulus-clipboard</a>
  </div>
  <div class="card-body">
   <div data-controller="clipboard" data-clipboard-success-content="Copied!">
      <input type="text" value="Click the button to copy me!" data-clipboard-target="source" />
      <button type="button" data-action="clipboard#copy" data-clipboard-target="button">Copy to clipboard</button>
    </div>
  </div>
</div>

