<div class="card">
  <div class="card-header">
    <a href="https://www.stimulus-components.com/docs/stimulus-animated-number">stimulus-animated-number</a>
  </div>
  <div class="card-body">
      <div data-controller="dropdown" class="relative">
      <button type="button" data-action="dropdown#toggle click@window->dropdown#hide">Options</button>

      <div
        data-dropdown-target="menu"
        class="hidden transition transform origin-top-right absolute right-0"
        data-transition-enter-from="opacity-0 scale-95"
        data-transition-enter-to="opacity-100 scale-100"
        data-transition-leave-from="opacity-100 scale-100"
        data-transition-leave-to="opacity-0 scale-95"
      >
        <a href="#" data-action="dropdown#toggle">Account settings</a>
        <a href="#" data-action="dropdown#toggle">Support</a>
        <a href="#" data-action="dropdown#toggle">License</a>
      </div>
    </div>
  </div>
</div>

