<div class="card">
  <div class="card-header">
    <a href="https://www.stimulus-components.com/docs/stimulus-animated-number">stimulus-animated-number</a>
  </div>
  <div class="card-body">
    <div data-controller="lightbox">
    <a href="/coreui/img/avatars/1.jpg">
      <img src="/coreui/img/avatars/1.jpg" alt="" />
    </a>

    <a href="/coreui/img/avatars/2.jpg">
      <img src="/coreui/img/avatars/2.jpg" alt="" />
    </a>

    <a href="/coreui/img/avatars/3.jpg">
      <img src="/coreui/img/avatars/3.jpg" alt="" />
    </a>
  </div>
</div>

