<div class="card">
  <div class="card-header">
    <a href="https://www.stimulus-components.com/docs/stimulus-character-counter">stimulus-character-counter</a>
  </div>
  <div class="card-body">
    
    <div data-controller="character-counter">
      <textarea data-character-counter-target="input"></textarea>

      <p>
        There are
        <strong data-character-counter-target="counter"></strong> characters in this textarea.
      </p>
    </div>
  </div>
</div>

