<div class="card">
  <div class="card-header">
    <a href="https://www.stimulus-components.com/docs/stimulus-animated-number">stimulus-animated-number</a>
  </div>
  <div class="card-body">
    <div
      data-controller="animated-number"
      data-animated-number-start-value="0"
      data-animated-number-end-value="200"
      data-animated-number-duration-value="3000"
    >
      0
    </div>

    <div
      data-controller="animated-number"
      data-animated-number-lazy-value=""
      data-animated-number-start-value="0"
      data-animated-number-end-value="200"
      data-animated-number-duration-value="3000"
    >
      This animation will start only when the element become visible thanks to Intersection Observers.
    </div>

    <div
      data-controller="animated-number"
      data-animated-number-lazy-value=""
      data-animated-number-lazy-root-margin-value="30px"
      data-animated-number-lazy-threshold-value="0.4"
      data-animated-number-start-value="0"
      data-animated-number-end-value="200"
      data-animated-number-duration-value="3000"
    >
      You can customize the Intersection Observer options.
    </div>
  </div>
</div>

