<div class="container-lg">
<div class="card mb-4">
            <div class="card-header"> Theme colors</div>
            <div class="card-body">
              <div class="row">
                <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                  <div class="bg-primary theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                  <h6>Brand Primary Color</h6>
                <table class="w-100">

        <tbody><tr>
          <td class="text-muted">HEX:</td>
          <td class="font-weight-bold">#321fdb</td>
        </tr>
        <tr>
          <td class="text-muted">RGB:</td>
          <td class="font-weight-bold">rgb(50, 31, 219)</td>
        </tr>
      </tbody>
    </table></div>
                <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                  <div class="bg-secondary theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                  <h6>Brand Secondary Color</h6>
                <table class="w-100">

        <tbody><tr>
          <td class="text-muted">HEX:</td>
          <td class="font-weight-bold">#9da5b1</td>
        </tr>
        <tr>
          <td class="text-muted">RGB:</td>
          <td class="font-weight-bold">rgb(157, 165, 177)</td>
        </tr>
      </tbody>
    </table></div>
                <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                  <div class="bg-success theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                  <h6>Brand Success Color</h6>
                <table class="w-100">

        <tbody><tr>
          <td class="text-muted">HEX:</td>
          <td class="font-weight-bold">#2eb85c</td>
        </tr>
        <tr>
          <td class="text-muted">RGB:</td>
          <td class="font-weight-bold">rgb(46, 184, 92)</td>
        </tr>
      </tbody>
    </table></div>
                <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                  <div class="bg-danger theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                  <h6>Brand Danger Color</h6>
                <table class="w-100">

        <tbody><tr>
          <td class="text-muted">HEX:</td>
          <td class="font-weight-bold">#e55353</td>
        </tr>
        <tr>
          <td class="text-muted">RGB:</td>
          <td class="font-weight-bold">rgb(229, 83, 83)</td>
        </tr>
      </tbody>
    </table></div>
                <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                  <div class="bg-warning theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                  <h6>Brand Warning Color</h6>
                <table class="w-100">

        <tbody><tr>
          <td class="text-muted">HEX:</td>
          <td class="font-weight-bold">#f9b115</td>
        </tr>
        <tr>
          <td class="text-muted">RGB:</td>
          <td class="font-weight-bold">rgb(249, 177, 21)</td>
        </tr>
      </tbody>
    </table></div>
                <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                  <div class="bg-info theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                  <h6>Brand Info Color</h6>
                <table class="w-100">

        <tbody><tr>
          <td class="text-muted">HEX:</td>
          <td class="font-weight-bold">#3399ff</td>
        </tr>
        <tr>
          <td class="text-muted">RGB:</td>
          <td class="font-weight-bold">rgb(51, 153, 255)</td>
        </tr>
      </tbody>
    </table></div>
                <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                  <div class="bg-light theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                  <h6>Brand Light Color</h6>
                <table class="w-100">

        <tbody><tr>
          <td class="text-muted">HEX:</td>
          <td class="font-weight-bold">#ebedef</td>
        </tr>
        <tr>
          <td class="text-muted">RGB:</td>
          <td class="font-weight-bold">rgb(235, 237, 239)</td>
        </tr>
      </tbody>
    </table></div>
                <div class="col-xl-2 col-md-3 col-sm-4 col-6 mb-4">
                  <div class="bg-dark theme-color w-75 rounded mb-2" style="padding-top:75%"></div>
                  <h6>Brand Dark Color</h6>
                <table class="w-100">

        <tbody><tr>
          <td class="text-muted">HEX:</td>
          <td class="font-weight-bold">#4f5d73</td>
        </tr>
        <tr>
          <td class="text-muted">RGB:</td>
          <td class="font-weight-bold">rgb(79, 93, 115)</td>
        </tr>
      </tbody>
    </table></div>
              </div>
            </div>
          </div>
          </div>